body{
    background-color: #fff5ed;
}

/*header*/

.inline-block{
    display:inline-block;
    vertical-align:top;
}

.inline-block-nav{
    display:inline-block;
    vertical-align:top;
    width: 20%;
    text-align: center;
    margin-left: 4%;
    margin-top: 2%;
    color: #944c50;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav{
    width: 72%;
    padding: 1%;
}



/*hero section*/

.heroimg{
    height: 450px;
    padding: 25px;
    padding-bottom: 0%;
}

.content{
    width: 500px;
    display: inline-block;
}

.about-me{
    display: flex;
    margin-left: 375px;
    position: relative; top: -310px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 2;
    color: #944c50;
}

.bubble{
    vertical-align: top;
    display:inline-flex;
    margin-left: -230px;
    position:relative; top: -100px;
    padding:0%;
}

/*middle section*/

hr{
    border-top: 1px solid #944c50;
    margin: 0%;
}

main{ 
    padding: 25px;
    padding-top: 0%;
}
main h1{
    font-family:'Caveat Brush', cursive;
    font-size: 36px;
    color: #944c50;
}

.my-work h1{
    text-align: center;
    margin-left: 16%;
    padding-top: -10%;
}

.bold{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.tools{
    margin-top: 30%;
}

.vl{
    display: inline-block;
    height: 1510px;
    border-right: 1px solid #944c50;
    position: relative; left: 50px;
}

h2{
    text-align: center;
    font-size: 45px;
    color: #f0e2d7;
}

.my-work p{
    font-size: 23px;
    padding-left: 10%;
    padding-right:10%;
    color: #f0e2d7;
}

.learn-more{
    margin-left: 42%;
    margin-top: 3%;
}

.nonprofit{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #c09491;
    margin: 5%;
    padding: 20px;
    position: relative; left: 6%; top: -6px;
    border-radius: 3%;
}

.government{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #c09491;
    margin: 5%;
    padding: 20px;
    position: relative; left: 7%;
    border-radius: 3%;
}

/*middle section 2.0*/

.flexContainer{
    display:flex;
}

.skills-and-tools{
    width: 25%;
    vertical-align: top;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    line-height: 2em;
    color:#944c50;
    position: relative; top: -10px;
}

.my-work{
    width: 72%;
    position: relative; top: -14px;
}


/*footer section*/

footer{
    background-color: #dfc1b8;
}

.inline-block-footer-left{
    display:inline-block;
    vertical-align: middle;
    background-color: #f1e2de;
    margin: 2%;
    padding: 3%;
    font-family: 'Caveat Brush', cursive;
    color:#dfc1b8
}

.inline-block-footer{
    display:inline-block;
    vertical-align:middle; 
    text-align: center;
    margin-left: 240px;
    font-family: 'Caveat Brush', cursive;
    color: #944c50;
    line-height: 50px;
}

.email-buttons{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    word-spacing: 1em;
}

button{
    background-color: #944c50;
    color:#dfc1b8;
    border-radius: 5px;
    width: 100px;
    padding:5px;
    font-family: 'Montserrat', sans-serif;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    color: white;
}


@media only screen and (max-width:600px) {

    /*header*/ 

    .bubble{
        display: none;
    }

    .heroimg{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    
    .content img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .about-me{ 
        font-size: 20px;
        width: 90%;
        position: relative; top: 5px; right: 350px;
    }
    
    .content{
        width: 500px;
        display: inline-block;
    }

    
    /*middle*/

    .flexContainer{
        display: flex;
        flex-direction: column;
    }
    .skills-and-tools{
        width:100%;
    }
    .my-work{
        width:100%;
        vertical-align: top;
    }

    .vl{
        display: none;
    }

    h1{
        text-align: center;
    }

    h2{
        flex-direction: column;
        vertical-align: text-top;
    }

    .my-work p{
        display: none;
    }

    .nonprofit{
        flex-direction: column;
        width: 68%;
        padding: 30px;
    }

    .government{
        flex-direction: column;
        width: 68%;
        padding: 30px;
    }

    .nonprofit img{
        margin-left: 25px;
    }

    .government img{
        margin-left: 25px;
    }

    .learn-more{
        margin: 0;
        position: relative; left: 140px;
    }

    /*footer*/

    .inline-block-footer-left{
        margin-left: 210px;
        margin-top: 50px;
    } 
    
    .inline-block-footer{
        position: relative; right: 100px;

    }

}